<div class="container-fluid">
<div class="row reciperow" ng-repeat="recipe in recipes">
    <div class="col-xs-4 favourite" ng-style="{'background-image':'url({{ recipe.HeroPhotoUrl }})', 'background-repeat':'no-repeat', 'background-size':'cover', 'background-position':'50% 50%'}">
    </div>
		<button type="button" ng-click="deleteItem(recipes[$index].RecipeID)" class="btn btn-danger removefavourite">Remove</button>
		<div class="col-xs-8">
		<h1 class="no-border"> {{ recipe.Title }} </h1>
		<h2 class="no-border subcategory"> {{ recipe.Subcategory }} </h2>
		<h2 class="no-border subcategory"> {{ recipe.Cuisine }} </h2>
		</div>
</div>
</div>
