<div class="container">
	<h1>Search for a Recipe:</h1>
	<span class="input-group-btn">
		<input type="text" class="form-control" ng-model="recipeSearch" placeholder="Search for..." style="'display': 'inline box'">
		<button class="btn btn-primary search" type="button" ng-click="search()">Go!</button>
	</span>
	</div><!-- /input-group -->
</div>

<div class="container-fluid">
<div class="row reciperow" ng-repeat="recipe in recipes">
    <div class="col-xs-4 favourite" ng-style="{'background-image':'url({{ recipe.HeroPhotoUrl }})', 'background-repeat':'no-repeat', 'background-size':'cover', 'background-position':'50% 50%'}">
    </div>
		<button type="button" ng-click="addtoFavourites(recipes[$index])" class="btn btn-success removefavourite">Add to Favourites</button>
		<div class="col-xs-8">
		<h1 class="no-border"> {{ recipe.Title[0].toUpperCase() + recipe.Title.slice(1) }} </h1>
		<h2 class="no-border subcategory"> {{ recipe.Subcategory[0].toUpperCase() + recipe.Subcategory.slice(1) }} </h2>
		<h2 class="no-border subcategory"> {{ recipe.Cuisine[0].toUpperCase() + recipe.Cuisine.slice(1) }} </h2>
		</div>
</div>
</div>
